.asidetwo {
    background-color: hsl(179, 47%, 52%);
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1.5em;
    color: white;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.asidetwo > h2 {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.asidetwo > ul {
    list-style: none;
    padding-left: 0;
    font-size: 0.855em;
    line-height: 1.46;
    color: var(--Light-Gray);
}

@media (min-width: 800px) {
    .asidetwo {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding-top: 2.6em;
        padding-left: 2.5em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0.5em;
    }
}